<div>
  <h1>New Novel</h1>

  <form [formGroup]="newNovelForm" (ngSubmit)="onSubmit()">
    <label for="novelTitle">Novel Title: </label>
    <input id="novelTitle" type="text" formControlName="novelTitle" />

    <div>
      @if (newNovelForm.controls.novelTitle.invalid && (newNovelForm.controls.novelTitle.dirty || newNovelForm.controls.novelTitle.touched)) {
        @if (newNovelForm.controls.novelTitle.errors?.['required']) {
          Novel Title is required.
        }
        @if (newNovelForm.controls.novelTitle.errors?.['minlength']) {
          Novel Title must be at least 5 characters long.
        }
      }
    </div>
    <br />

    <button type="submit" [disabled]="!newNovelForm.valid">Submit Profile</button>
  </form>
</div>
